<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body background = "https://coolbackgrounds.io/images/backgrounds/index/sea-edge-79ab30e2.png"
    style="background-size:cover;">
        <center>
            <br>
            <br>
            <br>
            <br>
        
        <div class="container">
            
            <a href="/" class="btn btn-secondary pull-right">Home</a>
            {% block body %}{% endblock %}
        </div>    
    </body>
</html>